MaestroMasterDataImporter/Web References/IMaestroMasterDataManager/MasterDataManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://soa.weg.net/eng/maestro/masterDataManager" targetNamespace="http://soa.weg.net/eng/maestro/masterDataManager" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="User" nillable="true" type="xs:string" />
  <xs:element name="mergeCharacteristicDescription" type="tns:mergeCharacteristicDescription" />
  <xs:element name="mergeCharacteristicDescriptionResponse" type="tns:mergeCharacteristicDescriptionResponse" />
  <xs:element name="mergeValueDescription" type="tns:mergeValueDescription" />
  <xs:element name="mergeValueDescriptionResponse" type="tns:mergeValueDescriptionResponse" />
  <xs:complexType name="mergeCharacteristicDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="language" type="xs:string" />
      <xs:element minOccurs="0" name="characteristicName" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeCharacteristicDescriptionResponse">
    <xs:sequence>
      <xs:element name="MasterDataManager" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeValueDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="language" type="xs:string" />
      <xs:element minOccurs="0" name="characteristicName" type="xs:string" />
      <xs:element minOccurs="0" name="characteristicValue" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeValueDescriptionResponse">
    <xs:sequence>
      <xs:element name="MasterDataManager" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>